<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.StoreMapper">
	<select id="getStore" resultType="com.smhrd.model.Store">
		select STORE_ID, STORE_NAME, STORE_ADDRESS, STORE_CONTACT from tb_store 
	</select>
	
	<insert id="join" parameterType="com.smhrd.model.Store">
      insert into TB_STORE (STORE_ID, store_name,store_address,store_contact, store_img)
      values(SEQ_STORE_ID.NEXTVAL, #{store_name},#{store_address},#{store_contact}, #{store_img})

   </insert>
  <select id="content"  parameterType="int" resultType = "com.smhrd.model.Store">
   select * from TB_STORE where STORE_ID=#{store_id}
   </select>
	
	<insert id="menuadd" parameterType="Menu">
		insert into menu (menu_id,menu_name,menu_descript,menu_price,menu_img)
		values(SEQ_MENU_ID.NEXTVAL,#{menu_name},#{menu_descript},#{menu_price},#{menu_img})

	</insert>
	
	<select id="menuprint" parameterType="int" resultType="Menu">
		select * from menu where menu_id=#{idx}
	</select>
	
</mapper>