@charset "UTF-8";

input {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background: #eee;
    padding: 16px;
    width: 60%;
    border: 0;
    outline: none;
}

.form_btn {
    box-shadow: 5px 5px 8px #babebc;
}

.form_btn:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.btnLoginJoin {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 45px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}
#container {
    border: none;
    width: 500px;
    height: 300px;
    text-align: center;
    background-color: rgb(251, 212, 218);
    margin : 100px auto;
    line-height: 50px;
    display: table;
}

#text{
	display: table-cell;
	vertical-align: middle;
}

.form_btn {
    box-shadow: 5px 5px 8px #babebc;
}

.form_btn:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.btnLoginJoin {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 45px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}
