<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.CalendarMapper">

    <insert id="insertCalendarEvent" parameterType="com.smhrd.model.CalendarEvent">
        INSERT INTO calendar (calendarId, title, startDate, endDate)
        VALUES (#{calendarId}, #{title}, #{startDate}, #{endDate})
    </insert>

</mapper>