<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.database.StoreMapper">
<!--  처음 검색 창에서 검색하기 밑에 자동으로 출력 될 가게 리스트-->
	<select id="getStore" resultType="com.smhrd.model.Store">
		select STORE_ID, STORE_NAME, STORE_ADDRESS, STORE_CONTACT from tb_store 
	</select>
	<!-- 가게 추가하기  -->
	<insert id="join" parameterType="com.smhrd.model.Store">
      insert into TB_STORE (STORE_ID, store_name,store_address,store_contact,store_descript, store_img)
      values(SEQ_STORE_ID.NEXTVAL, #{store_name},#{store_address},#{store_contact},#{store_descript}, #{store_img})

   </insert>
   <!-- 검색 시, 가게정보 들고오기 -->
  <select id="content"  parameterType="string" resultType = "com.smhrd.model.Store">
   select  Store_id,  Store_name,  Store_address,  Store_contact,  
			Store_descript,  Store_img from TB_STORE where STORE_ID=#{store_id}
   </select>
	
	<!-- 메뉴 입력하기 -->
	<insert id="menuadd" parameterType="Menu">
		insert into menu (menu_id,menu_name,menu_descript,menu_price,menu_img)
		values(SEQ_MENU_ID.NEXTVAL,#{menu_name},#{menu_descript},#{menu_price},#{menu_img})

	</insert>
	
	<!-- 메뉴 출력하기 -->
	<select id="menuprint" parameterType="int" resultType="Menu">
		select * from menu where menu_id=#{menu_id}
	</select>
	
	<!-- 메뉴 가져오기 -->
	<select id="getMenu" resultType="Menu">
		select * from menu
	</select>
	
	<!-- favorite check -->
	<insert id="FavCheck" parameterType="Fav">
		insert into favorite
		values(#{user_id},#{store_id},#{Fav_check})
	</insert>
	
</mapper>